__pycache__/
docs
venv

.dockerignore
.editorconfig
.env*
!.env.example
.gitattributes
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.*
Dockerfile_database
Dockerfile_python_deps
LICENSE
README.md
SECURITY.md
